@charset "UTF-8";

@media only screen and (min-width: 600px) {
    
    main{
        width: 490px;
        margin: auto;
        padding: 30px;
    }

    h1{
        text-align: center;
    }

    main > p > input{
      width: 450px;
    }

    .geralp{
        text-align: center;
    }

      #nextback{
        transform: translate(100px, -10px);
    }
    
    #confirmback{
        transform: translate(100px, -10px);    
      }

      .circle-1{
        margin-right: 35px;
        height: 30px;
        width: 30px;
        font-size: 25px;
      }
      .circle-2{
        margin-right: 35px;
        height: 30px;
        width: 30px;
        font-size: 25px;
      }
      .circle-3{
        margin-right: 35px;
        height: 30px;
        width: 30px;
        font-size: 25px;
      }
      .circle-4{
        height: 30px;
        width: 30px;
        font-size: 25px;
      }

      #container1{
        transform: translate(55px);
      }

      #planovalor{
        transform: translate(250px, 15px);
      }

      #onservicevalue{
        transform: translate(265px, 0px);
      }
      
      #profilevalue{
        transform: translate(222px, 0px);
      }
      
      #storagevalue{
        transform: translate(262px, 0px);
      }
      
      #totalvalue{
        transform: translate(225px, 0px);
      }

      #onservicem{
        transform: translate(400px, -45px);
      }

      #storagem{
        transform: translate(400px, -45px);
      }

      #profilem{
        transform: translate(400px, -45px);
      }

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}


@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1440px) {

}