@charset "UTF-8";

@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu-Regular.ttf);
}

hmtl,
body {
  font-size: 16px;
  font-family: "Ubuntu";
  background-color: hsl(229, 24%, 87%);
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

header {
  position: relative;
  background: url(../images/bg-sidebar-mobile.svg) center center no-repeat;
  background-size: cover;
  padding: 90px;
}

.circle-1 {
  border: 2px solid white;
  color: white;
  border-radius: 50%;
  padding: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  display: inline-block;
  margin-right: 10px;

  transform: translate(45px, -50px);
}

.circle-2 {
  border: 2px solid white;
  color: white;
  border-radius: 50%;
  padding: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  display: inline-block;
  margin-right: 10px;

  transform: translate(45px, -50px);
}

.circle-3 {
  border: 2px solid white;
  color: white;
  border-radius: 50%;
  padding: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  display: inline-block;
  margin-right: 10px;

  transform: translate(45px, -50px);
}

.circle-4 {
  border: 2px solid white;
  color: white;
  border-radius: 50%;
  padding: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  display: inline-block;

  transform: translate(45px, -50px);
}

.circle.active {
  background-color: hsl(206, 94%, 87%);
  color: black;
  border-color: hsl(206, 94%, 87%);
}

#arcade{
    border: 2px solid hsl(229, 24%, 87%);
    border-radius: 10px;
    margin-bottom: 15px;
}

#arcade > img{
    margin-left: 15px;
    text-align: center;
    transform: translateY(30px);
}

#arcade > h2{
    display: inline-block;
    transform: translate(10px, 5px);
    font-size: 16px;
}

#arcade > p{
    display: block;
    font-size: 14px;
    margin-left: 70px;
    transform: translateY(-16px);
}

#advanced{
    border: 2px solid hsl(229, 24%, 87%);
    border-radius: 10px;
    margin-bottom: 15px;
}

#advanced > img{
    margin-left: 15px;
    text-align: center;
    transform: translateY(30px);
}

#advanced > h2{
    display: inline-block;
    transform: translate(10px, 5px);
    font-size: 16px;
}

#advanced > p{
    display: block;
    font-size: 14px;
    margin-left: 70px;
    transform: translateY(-16px);
}

#pro{
    border: 2px solid hsl(229, 24%, 87%);
    border-radius: 10px;
    margin-bottom: 30px;
}

#pro > img{
    margin-left: 15px;
    text-align: center;
    transform: translateY(30px);
}

#pro > h2{
    display: inline-block;
    transform: translate(10px, 5px);
    font-size: 16px;
}

#pro > p{
    display: block;
    font-size: 14px;
    margin-left: 70px;
    transform: translateY(-16px);
}

#arcade, #advanced, #pro{
    color: hsl(231, 11%, 63%);
}

.monthsfree{
  color: hsl(213, 96%, 18%);
}


#arcade:hover, #advanced:hover, #pro:hover{
    cursor: pointer;
    border-color: hsl(243, 100%, 62%);
}

#container{
    width: 15%;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    background-color: hsl(213, 96%, 18%);
    border-radius: 25%;
}

#container1{
    width: 375px;
    background-color: hsl(231, 100%, 99%);
}

.custom-slider {
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    width: 50px;
    background-color: hsl(213, 96%, 18%);
    outline: none;
    cursor: pointer;
    transform: translateY(5px);
}

.custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

span#m{
    color: hsl(213, 96%, 18%);
    display: inline-block;
    transform: translate(70px, 25px);
}

span#y{
    color: hsl(213, 96%, 18%);  
    display: inline-block;
    transform: translate(240px, -25px);
}

#onservice{
  border: 2px solid hsl(229, 24%, 87%);
  border-radius: 10px;
  margin-bottom: 30px;
}

#onservice > h2{
  font-size: 16px;
  transform: translate(70px);
  width: 150px;
}

#onservicemsg{
  color:hsl(231, 11%, 63%) ;
  font-size: 14px;
  transform: translate(70px);
  width: 180px;
}

#onservicem{
  color: hsl(243, 100%, 62%);
  font-size: 14px;
  transform: translate(300px, -45px);
  width: 100px;
}



#storage > h2{
  font-size: 16px;
  transform: translate(70px);
  width: 150px;
}

#storagemsg{
  color:hsl(231, 11%, 63%) ;
  font-size: 14px;
  transform: translate(70px);
  width: 150px;
}

#storagem{
  color: hsl(243, 100%, 62%);
  font-size: 14px;
  transform: translate(300px, -45px);
  width: 100px;
}

#profile > h2{
  font-size: 16px;
  transform: translate(70px);
  width: 160px;
}

#profilemsg{
  color:hsl(231, 11%, 63%) ;
  font-size: 14px;
  transform: translate(70px);
  width: 200px;
}

#profilem{
  color: hsl(243, 100%, 62%);
  font-size: 14px;
  transform: translate(300px, -45px);
  width: 100px;
}

.custom-checkbox1 input[type="checkbox"] {
  display: none;
}

.custom-checkbox1 .checkmark {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: white; 
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 3px;
  margin-right: 10px;
  cursor: pointer;
  text-align: center;
  transform: translate(22px, 55px);
}
.custom-checkbox2 input[type="checkbox"] {
  display: none;
}

.custom-checkbox2 .checkmark {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: white; 
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 3px;
  margin-right: 10px;
  cursor: pointer;
  text-align: center;
  transform: translate(22px, 55px);
}
.custom-checkbox3 input[type="checkbox"] {
  display: none;
}

.custom-checkbox3 .checkmark {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: white; 
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 3px;
  margin-right: 10px;
  cursor: pointer;
  text-align: center;
  transform: translate(22px, 55px);
}

.custom-checkbox1 input[type="checkbox"]:checked + .checkmark {
  background-color: hsl(243, 100%, 62%);
  border: 1px solid hsl(243, 100%, 62%);
}

.custom-checkbox1 input[type="checkbox"]:checked + .checkmark::before {
  content: "✔"; 
  display: block;
  text-align: center;
  line-height: 20px;
  color: white; 
}

.custom-checkbox2 input[type="checkbox"]:checked + .checkmark {
  background-color: hsl(243, 100%, 62%);
  border: 1px solid hsl(243, 100%, 62%);
}

.custom-checkbox2 input[type="checkbox"]:checked + .checkmark::before {
  content: "✔"; 
  display: block;
  text-align: center;
  line-height: 20px;
  color: white; 
}

.custom-checkbox3 input[type="checkbox"]:checked + .checkmark {
  background-color: hsl(243, 100%, 62%);
  border: 1px solid hsl(243, 100%, 62%);
}

.custom-checkbox3 input[type="checkbox"]:checked + .checkmark::before {
  content: "✔"; 
  display: block;
  text-align: center;
  line-height: 20px;
  color: white; 
}


#storage{
  border: 2px solid hsl(229, 24%, 87%);
  border-radius: 10px;
  margin-bottom: 30px;
}

#profile{
  border: 2px solid hsl(229, 24%, 87%);
  border-radius: 10px;
  margin-bottom: 30px;
}

main {
  position: relative;
  background-color: white;
  width: 375px;
  margin: auto;
  border-radius: 10px;
  padding: 30px;
  transform: translateY(-100px);
  flex: 1;
}

main > h1, h2 {
  color: hsl(213, 96%, 18%);
}

main > p {
  color: hsl(231, 11%, 63%);
  line-height: 25px;
}

main > p > label {
  color: hsl(213, 96%, 18%);
}

main > p > input {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid hsl(231, 11%, 63%);
  width: 340px;
  cursor: pointer;
}

main > p > input:hover {
  border-color: hsl(243, 100%, 62%);
}

main > p > input.pula {
  margin-bottom: 20px;
}

main > p > input::placeholder {
  color: hsl(231, 11%, 63%);
  font-weight: 700;
}

footer {
  background-color: white;
  height: 100px;
}

a{
    text-decoration: none;
}

#goback{
    width: 60px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transform: translate(15px, 40px);
  }

#goback > a{
    color: hsl(231, 11%, 63%);
}

#goback > a:hover{
    color: hsla(213, 96%, 18%, 0.901);
}

#next {
  cursor: pointer;
  transform: translate(0px, 0px);
  text-align: center;
  display: inline-block;
}

#nextback{
  background-color: hsl(213, 96%, 18%);
  width: 140px;
  height: 50px;
  display: inline-block;
  margin-left: 330px;
  cursor: pointer;
  transform: translate(0px, -10px);
  border-radius: 5px;
  text-align: center;
}

#next > a{
    color: white;
}

#nextback:hover {
  background-color: hsla(213, 96%, 18%, 0.901);
}
